* {
  padding: 0;
  margin: 0;
}
.wraper {
  background-size: cover;
  width: 100%;
  height: 590px;
  margin: 0 auto;
  position: relative;
}
.model {
  width: 250px;
  height: 300px;

  background-size: cover;
  position: absolute;
  top: 12%;
  left: 22%;
}
img {
  width: 60%;
}
.imgKinh {
  position: absolute;
  top: 26%;
  left: 0;
  z-index: 1;
}
.info {
  background-color: rgba(222, 184, 135, 0.37);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 0 10px;
}
.info h4 {
  color: rgba(137, 43, 226, 0.699);
  font-size: 18px;
}
